/* body {
  font: 16px Helvetica;
  background: #A1CAE2;
 

}

.container {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: rgba(255,255,255,1);
  border-radius: 5px;
}

.message, .contact, .name, .footer, header, textarea  {
 display: block;
 padding: 0;
 margin: 0;
 border: 0;
 clear: both;
 overflow: hidden;
}

header {
  height: 75px;
  background: #2e3747;
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;


}
h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: white
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0,0,0,.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

textarea {
  /* @extend .email; */
  /* height: 200px;
  width: 100%; */
/* } */
/* 
footer {
  background-color: #2e3747;
  
  height: 49px;
  border-top: 1px dashed rgba(0,0,0,.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;}



    button:hover {
      background: rgba(192, 57, 43,1.0);
    }

    button:focus {
       outline: none;
    }
  

button {
  background-color: #4CAF50;
  border: none;
  color: white;   
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}
.button {
  height: 32px;
  background: #1600da;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: rgba(255,255,255,1);
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #1600da(192, 57, 43,1.0);
  transition: all linear .2s;
  margin-right: 20px;

}

.first:focus, .last:focus, .email:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219,.1);
  color: rgba(51,51,51,.7);
}  */

body {
  font: 16px Helvetica;
  background: #A1CAE2;
  /* background: #999B84; */

}

.parent{
  position: relative;
}

.h1-class{
  margin-top: 2.9%;
  font-size: 30px;
}

.c-container {
  z-index: 10;
  position: absolute;
  left: 30%;;
  margin-left: 20px;
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: rgba(255,255,255,1);
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .c-container{
    position: absolute;
    left: 0
  }
}

.message, .contact, .name, .footer, header, textarea  {
 display: block;
 padding: 0;
 margin: 0;
 border: 0;
 clear: both;
 overflow: hidden;
}

header {
  height: 75px;
  background: #962D2D;
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;


}
h1 {
  /* font-size: 1.2em; */
  /* text-transform: uppercase; */
  color: white
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0,0,0,.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

textarea {
  /* @extend .email; */
  height: 200px;
  width: 100%;
}

footer {
  background-color: #962D2D;
  /* @extend header; */
  height: 49px;
  border-top: 1px dashed rgba(0,0,0,.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;}



    button:hover {
      background: rgba(192, 57, 43,1.0);
    }

    button:focus {
       outline: none;
    }
  

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}
.button {
  height: 32px;
  background: #0A1931;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: rgba(255,255,255,1);
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid rgba(192, 57, 43,1.0);
  transition: all linear .2s;
  margin-right: 20px;

}

.first:focus, .last:focus, .email:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219,.1);
  color: rgba(51,51,51,.7);
}

.navbar-nav{
  margin: auto 0 auto auto;
  padding-right: 10px;
}
.navbar-brand{
  padding-left: 10px;
}
.nav-item{
  padding: 5px;
}



